#last_node-block {
Filter:Alpha(Opacity=100, FinishOpacity=5, Style=1, StartX=0, StartY=45, FinishX=0, FinishY=0);
font-weight:bold;
overflow:hidden;
/*width:155px;*/
height:50px;
text-align:center;
}

img.last_node-imagenode {
width: 60px;
height: 60px;
}
img.last_node-imagenode:hover {
width: 90px;
height: 90px;
}

img.last_node-imagelinkblock {
width: 30px;
height: 30px;
}
img.last_node-imagelinkblock:hover {
width: 40px;
height: 40px;
}


/*Pagina*/
.page-title {
width:100%;
}

.last_node-linknodetype a {
padding: 2px;
padding-left: 3px;
display: block;
/*border-bottom: 1px solid #ff00ff;*/
text-decoration: none !important;
font-weight:bold;
font-size:medium;
text-align: left;
}

.last_node-linknodetype a:hover {
padding:10px;
margin:5px;
background-color: #D1E2F2;
/*background-color: #FFFFFF;*/
color: #FFFFFF;
/*color: #D1E2F2;*/
font-size:xx-large;
text-decoration: none !important;
/*border: 1px dotted rgb(19, 149, 210);*/
}

/*Blocco Link nodi*/
.last_node-nodeblock {
width:100%;
}

.last_node-linknodetypeblock a {
padding: 2px;
padding-left: 3px;
display: block;
/*border-bottom: 1px solid #ff00ff;*/
text-decoration: none !important;
text-align: left;
/*border: 1px solid;
border-color: #99CCFF #330000 #330000 #99CCFF;*/
margin-bottom: 0px !important;
width: 100%;
}

.last_node-linknodetypeblock a:hover {
background-color: #D1E2F2;
color: #FFFFFF;
text-decoration: none !important;
/*border: 1px solid;*/
padding-left: 4px;
padding-top: 3px;
padding-bottom: 1px;
padding-right: 1px;
/*border-color: #330000 #99CCFF #99CCFF #330000;*/
font-size:large;
}
